@use '@theme/mixins';
@use '@theme/variables';

.content {
  @include mixins.panel-border(variables.$neutral-dark);
  text-align: center;
  padding: variables.$simple-margin;

  display: grid;
  grid-template: '. header logout';
  grid-template-columns: 1fr 2fr 1fr;

  .title {
    grid-area: header;
  }

  .logout {
    grid-area: logout;
  }
}
